body {
            background-color: lightblue;
        }

        h1 {
<<<<<<< HEAD
            color: black;
=======
            color: green;
>>>>>>> feature/product-cart
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 22px;
        }